<div class="container">

  <h2>Contacts</h2>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>first name</th>
          <th>last name</th>
          <th>company name</th>
          <th>city</th>
          <th>state</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |m|}}
        <tr>
          <td>{{#link-to 'contacts.contact' m.id}}{{m.id}}{{/link-to}}</td>
          <td>{{m.firstname}}</td>
          <td>{{m.lastname}}</td>
          <td>{{m.companyname}}</td>
          <td>{{m.city}}</td>
          <td>{{m.state}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
